<div>
<h1>Productos</h1>
{{#each products}}
<ul>
    <li>{{this.title}} </li>
    <li>{{this.description}} </li>
    <li>{{this.price }} </li>
</ul>
{{/each}}
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>