<div>
    <form >
        <h1>Agregar Producto</h1>
        <p>Title</p>
        <input type="text" name="description" required>
        <p>Descripcion</p>
        <input type="text" name="title" required>
        <p>Precio</p>
        <input type="number" name="price" required>
        <button type="submit">Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>